.card-register {
    font-size: 1rem;
    line-height: 2.15;
}
.btnCreateAccount {
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    text-transform: uppercase;
    width: 200px;
}
.btnLogin {
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    text-transform: uppercase;
}
main{
    background-color: #f5f6f7;
}
.form-input-bg{
    background-color: #f5f6f7;
    
}